<h2 mat-dialog-title>Zmień dane klienta</h2>
    <mat-dialog-content class="mat-typography">
        <form [formGroup]="editClient" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="fill">
                <mat-label>Imię</mat-label>
                <input matInput formControlName="name">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Nazwisko</mat-label>
                <input matInput formControlName="surname">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Data Urodzenia</mat-label>
                <input matInput formControlName="dateOfBirth">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Wybierz branże</mat-label>
                <mat-select #matSelect formControlName="industry" id="industry" [ngModel]="client.industry">
                    <mat-option *ngFor="let o of industryList" [value]="o.name">
                        {{o.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Wybierz podkategorię</mat-label>
                <mat-select #matSelect formControlName="subcategory" [ngModel]="client.subcategory">
                    <mat-option *ngFor="let s of filtredSub" [value]="s.name">
                        {{s.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Numer telefonu</mat-label>
                <input matInput formControlName="telephone">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Adres e-mail</mat-label>
                <input matInput formControlName="email">
            </mat-form-field>
        <mat-card-actions>
            <button mat-raised-button type="submit" color="primary">Aktualizuj dane klienta</button>
        </mat-card-actions>
    </form>
</mat-dialog-content>

